@font-face {
              font-family: 'raleway'; 
              src:
              url('fonts/Raleway-Regular.ttf'), 
              url('fonts/Raleway-Bold.ttf');
                           
               font-weight: normal;
               font-style: normal;
}

body {
               font-family: 'raleway';
               background-color: #F2F2F2;
}



h1 {
               
               font-size: 1.4em ;
               font-weight: bold;
}

.bloc1 {
               display: flex;  
               justify-content: space-between;
}

.menu1 {
               display: flex;
               padding: 0;
               list-style-type: none;
}

.menu1 a:hover {
               border-top: solid 2px #0065FC;
               padding-top: 15px; 
               color: #0065FC;
}

.menu1 a {
               display: block;
               min-width: 130px;
               text-align: center;
               text-decoration: none;
               color: #000000;
               padding-top: 17px;
}

.menu1 .active {
               border-top: solid 2px #0065FC;
               padding-top: 15px; 
               color: #0065FC;
}

.menu1 a:nth-of-type(3) {
               font-weight: bold;
               color: #0065fc;
}

.bloc2 {
               display: flex;
               justify-content: flex-start;
               align-items: center;
}

.bloc2 div {
               display: inline-flex;
               justify-content: space-between;
               align-items: center;
               margin-inline-end: 30px;      
}

.économique :hover, .familial :hover, .romantique :hover, .animaux :hover {
               background-color: #DEEBFF;
               cursor: pointer;
}

.bloc2 p {
               margin-right: 20px;
               font-weight: bold;
               color: #000000;
               border: solid 2px #D5DBDB;
               border-radius: 30px;
               padding: 14px 16px 14px 54px;         
}

.bloc2 .filtre {
               border: none;
               padding: 0;
}


section {
               display: flex;
               justify-content: space-between;
}

.bloc2 .fas {
               color: #0065FC;
               background-color: #DEEBFF;
               border-radius: 30px;
               padding: 18px;
               margin: 0px;
               margin-right: -3rem;
               z-index: 1; 
}

.fa-map-marker-alt {
               color: #000000;
               border: solid; border-color: #E5E8E8; background-color: #E5E8E8;
               border-width: thin; 
               border-radius: 10px 0px 0px 10px;
               padding: 0.450rem 0.6rem 0.550rem 0.6rem;
}

form {
                font-size: 1.5rem;
}

.form {
                text-decoration: none;
                font-size: 1.25rem;
                border: solid; border-color: #E5E8E8; background-color: #ffffff;
                border-width: thin;
                border-right: none;
                padding: 0.5rem;
                margin: 0rem 0rem 0rem -0.4rem;
}

.rechercher {
                text-decoration: none;
                font-size: 1.25rem;
                color: #FDFEFE;
                border: solid; border-color: #0065FC; background-color: #0065FC;
                border-width: thin;
                border-radius: 0px 10px 10px 0px;
                padding: 0.5rem 0.6rem 0.5rem 0.6rem;
                margin: 0rem 0rem 0rem -0.4rem;
}
            
.familial .fas {
               font-size: 17px;
           }

.fa-info {
               color: #0065FC;
               font-size: 12px;
               align-items: center;
               margin-right: 5px;  
               background-color: #ffffff;  
               border: solid; border-color: #D5DBDB;
               border-width: thin;   
               border-radius: 30px 30px 30px 30px;
               padding: 7px 7px 7px 12px;
}


               


               
